.git
.github
.claude
node_modules
vendor
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
public/storage
tests
docker-compose.override.yml
